.footer_container {
  font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  padding: 0 60px;
}
.footer_container h2 {
  font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}
.footer_tab {
  width: 80%;
}
.footer_li {
  text-align: left;
  list-style: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 17%;
}
.footer_list a:hover {
  text-decoration: underline;
}
.footer_list a {
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
  color: #484848;
}
.footer_list span {
  font-size: small;
  color: #666;
}
.display {
  width: 16%;
  display: inline-flex;
  text-align: left;
}
